@import 'bourbon';

%animation-pulsate {
  @include animation(pulsate 1.0s ease-in infinite);
}

@include keyframes(pulsate) {
    0% { opacity: 0.65; }
   50% { opacity:  1.0; }
  100% { opacity: 0.65; }
}
