@import 'bourbon';
@import 'constants';

:host {
  display: block;
  background: black;
  text-align: center;
  z-index: $z-index-video-player;
}

.garcon-video-player__video {
  width: 100%;
  height: 100%;
}
