@import 'bourbon';
@import 'constants';

$app-bar-height: $baseline * 8;

:host {
  display: block;
  padding: $app-bar-height 0 ($baseline * 2) 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

:host(.s-nav-expanded) {

  garcon-nav { @include transform(translateX(0%)); }

  .content-overlay {
    @include transition-delay( 0s, 0s );
    bottom: 0px;
    opacity: 0.666;
  }
}

.app-bar {
  @include position(fixed, 0px 0px null 0px);
  @include user-select(none);
  background: $brand-primary-light;
  border-bottom: 2px solid darken($brand-primary-light, 10%);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: $font-weight-semibold;
  line-height: $app-bar-height - 2;
  text-shadow: 0 2px rgba(0,0,0,.25);

  .app-bar__settings {
    margin-left: $base-width * -2;
  }
}

garcon-nav {
  @include position(fixed, $app-bar-height null 0px 0px);
  @include transform(translateX(-100%));
  @include transition(transform $animation-duration ease-out);
  box-shadow: 0 10px 10px black;
  width: $column * 3;
}

.content-overlay {
  @include position(fixed, $app-bar-height 0px 0px 0px);
  @include transition(
    opacity $animation-duration ease-in-out,
    bottom  0s                  ease-in-out $animation-duration
  );
  background: black;
  bottom: 100%;
  content: '';
  opacity: 0;
}

.video {

  &__play-button { color: $gray-darker; }

  &__season {
    color: $gray-dark;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: $font-weight-light;
  }
}
