@import 'bourbon';
@import 'constants';

:host {
  // @include position(fixed, 0px 0px 0px 0px);
  display: block;
  background-color: rgba(0,0,0,.5);
  padding: $baseline * 5;
  text-align: center;
  z-index: $z-index-video-player;
}

.garcon-video-player__video { width: 100%; }
